name: .NET Core

on: 
  push:
    tags:
    - '*'

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: windows-latest
    name: Dotnet Build
    
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '9.0.*'
      - run: dotnet publish -c Release --runtime win-x64 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\win-x64\publish\ -DestinationPath .\QinRSS-win-x64.zip
      - run: dotnet publish -c Release --runtime win-x86 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\win-x86\publish\ -DestinationPath .\QinRSS-win-x86.zip
      - run: dotnet publish -c Release --runtime osx-x64 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\osx-x64\publish\ -DestinationPath .\QinRSS-osx-x64.zip
      - run: dotnet publish -c Release --runtime osx-arm64 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\osx-arm64\publish\ -DestinationPath .\QinRSS-osx-arm64.zip
      - run: dotnet publish -c Release --runtime linux-arm64 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\linux-arm64\publish\ -DestinationPath .\QinRSS-linux-arm64.zip
      - run: dotnet publish -c Release --runtime linux-x64 --p:PublishSingleFile=true
      - run: powershell Compress-Archive -Path $env:GITHUB_WORKSPACE\QinRSS\bin\Release\net9.0\linux-x64\publish\ -DestinationPath .\QinRSS-linux-x64.zip
      - name: Create a Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "QinRSS-win-x64.zip,QinRSS-win-x86.zip,QinRSS-osx-x64.zip,QinRSS-osx-arm64.zip,QinRSS-linux-arm64.zip,QinRSS-linux-x64.zip"
          token: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    name: Docker Build & Push
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=tag
            type=raw,value=latest
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
